@CHARSET "ISO-8859-1";

*
{
	/* Transition the entire document */
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	
	/* Use "inner-padding" boxing style */
	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
}

html {margin: 0;}

body {margin: 0; font-family: Arial, sans-serif; background-color:#EEE; font-size:14px;}

a
{
	font-weight:bold;
	text-decoration:none;
	color:#555;
}

a:hover
{
	font-weight:bold;
	text-decoration:underline;
	color:#555;
}

h1, h2
{
	font-size: 18px;
	padding: 0;
	margin: 0;
	color:#103c55;
	border-top:2px solid #99A;
}

h2
{
	font-size:15px;
	border: none;
	border-bottom: 1px solid #AAB;
}

/* The floating title bar (banner) */
#head
{
	position:fixed;
	width:100vw;
	background-image: url("HotelsBanner.png");
	border-bottom: 15px solid #353535;
	
	-webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.55);
}

/* The container for the main document body */
#wrapper
{
	width:800px;
	min-height:100vh;
	background-color: #FFF;
	
	padding: 110px 25px 0 25px;
	margin: 0 auto 0 auto;
	
	border: 4px solid #DDD;
}

#wrapper > p
{
	padding: 0 50px 0 50px;
	text-align:justify;
}

#wrapper > hr
{
	border: 1px solid #C4C4C4;
	margin-top: 50px;
}

/* The hotel list div */
#hotelListing
{
	width:100%;
}

/* A hotel list item div */
.hotelListItem
{
	display: block;
	margin: 15px auto 15px auto;
	padding: 10px;
	width: 100%;
	height: 210px;
	border: 1px solid #99A;
	background-color: white;
}

/* Item highlight */
.hotelListItem:hover
{
	background-color: #F8F8F8;
}

.hotelListItem > p, h2
{
	margin: 0 auto 8px 200px;
	padding: 0;
}

.hotelListIcon
{
	height:100%;
	width:auto;
	float:left;
}

/* Legal and credit information */
#trailer
{
	margin: 0 auto 0 auto;
	text-align:center;
	font-size:12px;
}
